<div class="relative w-full h-full bg-white home flex items-center justify-center px-5">
  <img src="assets/img/lantern.png" alt="" class="absolute md:w-[200px] w-[100px] top-0 left-0 z-10">
  <img src="assets/img/lantern.png" alt="" class="absolute md:w-[200px] w-[100px] top-0 right-0 z-10">
  <div
    class=" lucky-money relative sm:w-[400px] sm:h-[700px] w-[300px] h-[500px] rounded-[20px] bg-[#ea4450] shadow-2xl overflow-hidden"
    [class.open]="isOpen">
    <div
      class="absolute left-0 right-0 top-0 border-[50px] border-solid border-gray-700 border-x-transparent border-b-transparent">
    </div>
    <img src="assets/img/money.png"
      class="money absolute cursor-pointer w-[100px] h-auto top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
      (click)="isOpen=!isOpen">
  </div>
</div>
