<div class="relative w-full h-full bg-white home flex items-center justify-center px-5">
  <img src="assets/img/lantern.png" alt="" class="absolute md:w-[200px] w-[100px] top-0 left-0 z-50">
  <img src="assets/img/lantern.png" alt="" class="absolute md:w-[200px] w-[100px] top-0 right-0 z-50">
  <div class=" relative sm:w-[400px] sm:h-[700px] w-[300px] h-[500px] bg-transparent transition-all duration-500 flex justify-center"
    [ngClass]="isOpen ? 'translate-y-14' : ''">
    <div class="lucky-money-cover absolute left-0 right-0 top-0 h-[15%] shadow-xl rounded-b-[100px] bg-[#df2e3a] z-50"
      [class.open]="isOpen">
    </div>
    <div class="money absolute max-w-[85%] top-0 h-auto z-10" [class.open]="isOpen">
      <img [src]="imageMoney" class="w-auto h-[90%]">
    </div>
    <div
      class="lucky-money relative w-full h-full rounded-b-[20px] bg-[#ea4450] shadow-2xl"
      [class.open]="isOpen" [ngClass]="isOpen? 'z-30' : 'z-30'">
      <img src="assets/img/money.png"
        class="money absolute cursor-pointer w-[100px] h-auto top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
        (click)="isOpen=!isOpen">
    </div>
  </div>
</div>
